@import "../../styles/utils/variables.scss";

.scatter-plot-legend {
  display: flex;
  font-size: $text-small;

  &__title {
    font-size: $text-base;
    text-transform: uppercase;
  }

  &__min {
    svg {
      transform: scale(var(--scale-min));
    }
  }

  &__max {
    svg {
      transform: scale(var(--scale-max));
    }
  }
}
