@import "../../../styles/utils/variables.scss";

.magnitude-item {
  display: flex;
  margin-bottom: rem(40);

  svg {
    margin-right: rem(23.46);
    min-width: rem(50);
  }

  @media screen and (max-width: $screen-tablet-portrait) {
    svg {
      margin-bottom: rem(24);
    }
  }
}
