@import "../../../styles/utils/variables.scss";

.tooltip {
  pointer-events: none;
  position: absolute;
  top: var(--tooltip-y);
  left: var(--tooltip-x);
  border: 1px solid $white;
  // todo: rem function
  padding: 24.29px 33.59px 25.29px 34.59px;
}
