@import "../../../styles/utils/variables.scss";

.tooltip {
  background-color: $layover;
  pointer-events: none;
  position: absolute;
  top: var(--tooltip-y);
  left: var(--tooltip-x);
  border: 1px solid $white;
  padding: rem(24.29) rem(33.59) rem(25.29) rem(34.59);
}
