@import "../../styles/utils/variables.scss";

.side-chart {
  width: 30%;
  $padding-v: 42px;

  > * {
    animation: fadeIn 0.3s;
  }

  @function padding-h($padding-large) {
    @return clamp(#{$dashboard-padding-h}, 5vw, #{$padding-large});
  };

  border-left: 1px solid $white;
  min-height: 100vh;
  padding: $padding-v padding-h(36px) $padding-v padding-h(70px);

  &__title {
    margin-bottom: 41.5px;
    text-decoration: underline;
    font-size: $text-large;
  }

  &__sub-title {
    margin-bottom: 30.5px;
    font-size: $text-base;
    text-transform: uppercase;
  }

  &__legend {
    margin-bottom: 58px;
    font-size: $text-small;

    > p:first-child {
      margin-bottom: 4px;
    }

    svg {
      margin-right: 10.86px;
    }
  }

  @media screen and (max-width: $screen-tablet-portrait) {
    border: none;
    width: 100%;

    &__magnitude-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 10px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
