@import "../../styles/utils/variables.scss";

.side-chart {
  width: 30%;
  $padding-v: rem(42);

  > * {
    animation: fadeIn 0.3s;
  }

  @function padding-h($padding-large) {
    @return clamp(#{$dashboard-padding-h}, 5vw, #{$padding-large});
  };

  border-left: 1px solid $white;
  min-height: 100vh;
  padding: $padding-v responsive-dimensions($dashboard-padding-h, rem(36)) $padding-v responsive-dimensions($dashboard-padding-h, rem(70));

  &__title {
    margin-bottom: rem(41.5);
    text-decoration: underline;
    font-size: $text-large;
  }

  &__sub-title {
    margin-bottom: rem(30.5);
    font-size: $text-base;
    text-transform: uppercase;
  }

  &__legend {
    margin-bottom: rem(58);
    font-size: $text-small;

    > p {
      display: flex;

      &:first-child {
        margin-bottom: rem(4);
      }
    }

    svg {
      margin-right: rem(10.86);
    }
  }

  @media screen and (max-width: $screen-tablet-portrait) {
    border: none;
    width: 100%;

    &__magnitude-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: rem(10);

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
