@import "../../styles/utils/variables.scss";

.day-button {
  $button-dimensions: 35;

  width: rem($button-dimensions);
  height: rem($button-dimensions);
  border-radius: $border-round;
  text-align: center;
  color: $white;
  text-transform: lowercase;
  border: 1px solid $white;
  animation: fadeIn 0.3s;

  &:not(:last-child) {
    margin-right: rem(5);
  }

  &.selected,
  &:hover {
    background-color: $primary;
    border: none;
    color: $black;
  }

  &:hover {
    cursor: pointer;
  }
}
