@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flyIn {
  0% {
    transform: translate(600%, -300%);
  }
  100% {
    transform: translate(100, 100);
  }
}

@keyframes flyOut {
  0% {
    transform: translate(100, 100);
  }
  100% {
    transform: translate(-300%, 600%);
  }
}
