@import "functions";

// Colors
$primary: #2af598;
$bg-1: #0a1d19;
$bg-2: #184159;
$bg-3: #19435d;
$white: #fff;
$layover: rgba(17, 54, 71, 0.4);
$transparent-white: rgba(255, 255, 255, 0.5);
$black: #000;

// Borders
$border-round: 50%;

// Screen sizes
$screen-mobile: 480px;
$screen-tablet-portrait: 768px;

// Sizes
$dashboard-padding-h: rem(26);

// Fonts
$text-base: $font-base * 1px;
$text-large: rem(20);
$text-small: rem(12);
$text-smaller: rem(10);
