@keyframes flyIn {
  0% {
    transform: translate(300%, -300%);
  }
  100% {
    transform: translate(100, 100);
  }
}

@keyframes flyOut {
  0% {
    transform: translate(100, 100);
  }
  100% {
    transform: translate(-300%, 300%);
  }
}

.incoming {
  animation: flyIn 0.5s;
}

.outgoing {
  animation: flyOut 0.5s backwards;
}
