@import "../../styles/utils/variables.scss";

.scatter-plot {
  position: relative;
  background: repeating-linear-gradient(
                  to top,
                  $transparent-white,
                  $transparent-white 1px,
                  transparent 1px,
                  transparent calc(25%)
  );

  svg * {
    transform-box: fill-box;
  }

  &__axes {
    position: absolute;
    bottom: rem(-27.9);
    text-transform: uppercase;

    > div {
      &:first-child {
        margin-bottom: rem(19.8);
      }

      svg {
        margin-right: rem(12);
      }

      span {
        text-transform: lowercase;
      }
    }
  }
}
